addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.11.1
aliyun-python-sdk-core==2.13.36
aliyun-python-sdk-kms==2.16.1
annotated-types==0.5.0
ansicon==1.89.0
antlr4-python3-runtime==4.9.3
anyio==3.7.1
appdirs==1.4.4
arrow==1.2.3
asgiref==3.7.2
asteroid-filterbanks==0.4.0
async-timeout==4.0.2
attrs==23.1.0
audioread==3.0.0
backoff==2.2.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
blessed==1.20.0
bootstrap4==0.1.0
Brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.6
cmaes==0.10.0
colorama==0.4.6
colorlog==6.7.0
contourpy==1.1.0
crcmod==1.7
croniter==1.4.1
cryptography==41.0.2
cycler==0.11.0
dataclasses==0.6
datasets==2.13.1
dateutils==0.6.12
decorator==4.4.2
deepdiff==6.3.1
dill==0.3.6
Django==4.2.3
docopt==0.6.2
einops==0.6.1
exceptiongroup==1.1.2
fastapi==0.100.0
filelock==3.12.2
fonttools==4.41.1
frozenlist==1.3.3
fsspec==2023.6.0
gast==0.5.4
greenlet==2.0.2
h11==0.14.0
hmmlearn @ git+https://github.com/hmmlearn/hmmlearn.git@822894e24e8632cfa3f10304240d3f5049516580
huggingface-hub==0.16.4
HyperPyYAML==1.2.1
idna==3.4
imageio==2.31.1
imageio-ffmpeg==0.4.8
importlib-metadata==6.8.0
importlib-resources==6.0.0
inquirer==3.1.3
itsdangerous==2.1.2
Jinja2==3.1.2
jinxed==1.2.0
jmespath==0.10.0
joblib==1.3.1
julius==0.2.7
kiwipiepy==0.15.2
kiwipiepy-model==0.15.0
kiwisolver==1.4.4
lazy_loader==0.3
librosa==0.10.0.post2
lightning==2.0.6
lightning-cloud==0.5.37
lightning-utilities==0.9.0
llvmlite==0.40.1
Mako==1.2.4
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib==3.7.2
mdurl==0.1.2
modelscope==1.7.1
more-itertools==9.1.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.0.5
multidict==6.0.4
multiprocess==0.70.14
mutagen==1.46.0
networkx==3.1
numba==0.57.1
numpy==1.24.4
omegaconf==2.3.0
opencv-python==4.8.0.74
optuna==3.2.0
ordered-set==4.1.0
oss2==2.18.0
packaging==23.1
pandas==1.3.5
Pillow==10.0.0
platformdirs==3.8.1
pooch==1.6.0
primePy==1.3
proglog==0.1.10
protobuf==4.23.4
psutil==5.9.5
pyannote.audio @ git+https://github.com/pyannote/pyannote-audio.git@bc0920fc4e2007a9fa331bf2ea9c8c4ddf6f42d1
pyannote.core==5.0.0
pyannote.database==5.0.1
pyannote.metrics==3.2.1
pyannote.pipeline==2.3
pyarrow==12.0.1
pycparser==2.21
pycryptodome==3.18.0
pycryptodomex==3.18.0
pydantic==2.0.3
pydantic_core==2.3.0
pydub==0.25.1
Pygments==2.15.1
PyJWT==2.8.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-editor==1.0.4
python-multipart==0.0.6
pytorch-lightning==2.0.6
pytorch-metric-learning==2.2.0
pytube==15.0.0
pytz==2023.3
PyYAML==6.0
readchar==4.0.5
regex==2023.6.3
requests==2.31.0
rich==13.4.2
ruamel.yaml==0.17.28
ruamel.yaml.clib==0.2.7
safetensors==0.3.1
scikit-learn==1.3.0
scipy==1.10.1
semver==3.0.1
sentencepiece==0.1.99
shellingham==1.5.0.post1
simplejson==3.19.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.4.1
soxr==0.3.5
speechbrain==0.5.15
SQLAlchemy==2.0.19
sqlparse==0.4.4
starlette==0.27.0
starsessions==1.3.0
sympy==1.12
tabulate==0.9.0
tensorboardX==2.6.1
threadpoolctl==3.2.0
tiktoken==0.3.3
tokenizers==0.13.3
tomli==2.0.1
torch==2.0.1
torch-audiomentations==0.11.0
torch-pitch-shift==1.2.4
torchaudio==2.0.2
torchmetrics==1.0.1
tqdm==4.65.0
traitlets==5.9.0
transformers==4.31.0
typer==0.9.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
uvicorn==0.23.1
wcwidth==0.2.6
websocket-client==1.6.1
websockets==11.0.3
xxhash==3.2.0
yapf==0.40.1
yarl==1.9.2
yt-dlp==2023.7.6
zipp==3.16.0
